.button-primary {
  appearance: button;
  background-color: #1da1f2; /* BlueSky primary color */
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #1da1f2;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* vertical-align: middle; */
}

.button-primary:focus:not(:focus-visible),
.button-primary:focus {
  outline: 0;
}

.button-primary:hover {
  background-color: #1991da; /* Slightly darker blue */
  border-color: #1991da;
}

.button-primary:focus {
  background-color: #167fc1; /* More muted blue for focus */
  border-color: #126fa9;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(29, 161, 242, 0.5) 0 0 0 0.2rem;
}

.button-primary:active {
  background-color: #126fa9; /* Darker blue for active state */
  background-image: none;
  border-color: #0f5d90;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-primary:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(29, 161, 242, 0.5) 0 0 0 0.2rem;
}

.button-primary:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
